<ul>
  <li *ngFor="let book of books">
    <span [class.is-read]="book.get('read')">
      {{ book.get('author') }}: {{ book.get('name') }}
    </span>
    <button (click)="deleteBook.next(book)">Delete</button>
    <button *ngIf="!book.get('read')"
            (click)="markAsRead.next(book)">Mark as read</button>
  </li>
</ul>
<div>
  <h3>Add book:</h3>
  <p>Author: <input type="text" [(ngModel)]="newBook.author"></p>
  <p>Name: <input type="text" [(ngModel)]="newBook.name"></p>
  <p><button (click)="addNewBook()">Add</button></p>
</div>
